extends _template.pug

block content
  - 
    var contact = [
      'picture',
      'tommy williams',
      'email: tom@technomad.media',
      'phone: 312 818 9011',
      'portfolio: wommy.io  |  github.com/wommy',
      'focus: media distribution, digital publishing => eCommerce',
      'location: chicago => royal oak mi => berlin',
      'hobbies: cycling, martial-arts, dancing, techno',
      'built with: chromeos cloud9.io github node pugjs scss',
      'view online @ github.com/wommy/resume'
    ];
    
    var education = [
      'university of detroit jesuit high school, class of 08',
      'columbia college chicago, attended 2008 - 2010',
      'depaul university, class of 2015 - bachelors of arts: psychology, minor: interactive & social media'
    ];
    
    var experience = {
      'since 2010 - web freelancer' : 'website development design consultation for 13+ clients: small business, artists',
      'since 2015 - solution people' : 'lead design, development, content, database for 30+ websites',
      '2015 summer/fall  - original graphics printing' : 'subcontractor : 5+ brands: website, signage, decals, tshirts'
    }
    
    var skills-development_&_design = [
      'javascript => node => es6/react/vue/riot,
      'html5 => liquid & haml => jade/pug',
      'css3 => sass/scss/less => postcssnext',
      'mysql => yaml & markdown => json',
      '---',
      'LAMP => Rails => MEAN => JAM',
      'rubygems => npm & gulp => yarn & webpack',
      'wordpress => mixture => jekyll => gatsby & hugo',
      '---',
      'java => ruby => python => go & elm',
      'object-oriented => functional',
      'shell <= git git-flow cdn dns ssl http/2',
      '---',
      'windows => mac => chromeOS => linux',
      'notepad++ => sublimetext => cloud9.io => docker',
      
      'froggie92 => technomad => wommy',
      '---------',
      'ui/ux: wireframing: modular/component-based',
      'illustrator, gimp, balsamiq, axure, sketch',
      'test creation, data collection, statistical analysis'
    ]